.map-container {

      margin: 30px auto;
      width: 66%;
      padding: 16px
    }

    .map-frame {
        border: 2px solid black;
        height: 100%;
      }

    #map {
        height: 560px;
    }
