<section class="mt-5">

  <div class="overflow-x-auto">
  <table class="table table-zebra">
    <!-- head -->
    <thead>
      <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Flag</th>
        <th>Country</th>
        <th>Capital</th>
        <th>Population</th>
        <th>More</th>
      </tr>
    </thead>
    <tbody>

      @if ( countryList().length == 0 ) {

        <tr>
          <td colspan="7" class="text-center" > No results were found </td>
        </tr>

      }

      @for (country of countryList(); track country.ccn3) {
        <tr>
          <th> {{$index + 1}} </th>
          <td> {{ country.icon }} </td>
          <td> <img class="w-12" [src]="country.flag" [alt]="`${country.name}'s flag png`"> </td>
          <td> {{ country.name }} </td>
          <td> {{ country.capital.name }} </td>
          <td> <span class="badge badge-dash">{{ country.population | number }}</span> </td>
          <td> <a href="" class="link-primary cursor-pointer font-bold">More</a> </td>
        </tr>

      }

    </tbody>
  </table>
</div>

</section>
